* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


/*LAYOUT*/

header {
    height: 350px;
    background-image: url(images/header_bg.jpg);
    background-size: cover;
}

.benefits {
    background-color: #f0efef;
}

.testimonial {
    text-align: center;
    background-image: url(images/testimonial_bg.jpg);
    background-size: cover;
}

.calltoaction {
    height: 50px;
    background-color: #f9e42e;
}

footer {
    background-color: #121212;
}

.center {
    text-align: center;
    margin: auto;
}

.margin {
    margin-left: 95px;
    margin-right: 95px;
}


/*Styling*/

header h1,
h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    font-weight: 800;
}

header h2 {
    font-weight: 600;
    text-align: center;
}

footer h1 {
    color: #f9e42e;
    font-weight: 800;
    font-size: 24px;
    padding: 20px;
}

h3 {
    color: #033048;
    font-weight: 600;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.benefits p,
.benefits ul {
    font-weight: 300;
    font-size: 13px;
    color: #033048;
    padding-bottom: 20px;
}

foother p {
    font-size: 9px;
    font-weight: 600;
}

p {
    color: #FFF;
}

ul {
    padding-left: 50px;
    list-style: disc;
}

button {
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 7px 35px;
}

header button {
    font-size: 14px;
    color: #033048;
    background-color: #f9e42e;
    margin-top: 25px;
}

.testimonial button {
    font-size: 12px;
    color: #FFF;
    background-color: #033048;
    margin: 10px;
}

blockquote {
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    padding: 40px;
}

blockquote cite {
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
    font-style: normal;
}

img {
    padding-left: 20px;
    padding-right: 20px;
}

footer p {
    padding: 20px;
}